<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XMWClient.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9CCC93258EC028067E29AC5F0FEAF08E6C5634F4</string>
				<key>dateExpires</key>
				<string>11/01/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CCC93258EC028067E29AC5F0FEAF08E6C5634F4</string>
						<key>dateExpires</key>
						<string>11/01/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XP362JQVP7</string>
						<key>name</key>
						<string>Polycab India Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9CCC93258EC028067E29AC5F0FEAF08E6C5634F4</string>
						<key>dateExpires</key>
						<string>11/01/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>XP362JQVP7.com.polycab.xmw.employee.PushNotificationExtension</string>
						<key>aps-environment</key>
						<string>development</string>
						<key>com.apple.developer.team-identifier</key>
						<string>XP362JQVP7</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.polycab.xmw.employee.push.group</string>
						</array>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>XP362JQVP7.com.polycab.xmw.employee</string>
						</array>
					</dict>
					<key>name</key>
					<string>PushNotificationExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>81082400-f879-4577-9204-93731970181b</string>
						<key>name</key>
						<string>NotificationExtension_dev</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XP362JQVP7</string>
						<key>name</key>
						<string>Polycab India Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XP362JQVP7.com.polycab.xmw.employee</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XP362JQVP7</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.polycab.xmw.employee.push.group</string>
				</array>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>XP362JQVP7.com.polycab.xmw.employee</string>
				</array>
			</dict>
			<key>name</key>
			<string>XMWClient.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5d85e76a-04c5-4459-8b8d-818da8334dc1</string>
				<key>name</key>
				<string>Polycab_Employee_Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XP362JQVP7</string>
				<key>name</key>
				<string>Polycab India Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
